html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
/*nav{
   margin-left: 500px;
   max-width: 100%;
}*/
nav ul{
   display: flex;
   list-style: none;
   justify-content: center;
   margin-left:450px;
margin-top: 16px;
}
nav a{
   text-decoration: none;
   color: grey;
}
li{
   padding: 12px;

}
header{
   background-image: url(../images/header.jpg);
   height: 1050px;
   margin: -16px;

}
.Bas{
   display: flex;

}
h1{
   width: 190px;
   height: 69px;
   color: white;
   border: 1px;
   background-color: crimson;
   margin-bottom:254px;
   border-radius: 8px;
   text-align:center;
   font-size: 20px;
   margin-left: 215px;
   padding: 25px;
   margin-top: -71px;

}
.portfolio{
   display: flex;
   justify-content: space-between;


}
.portfolio p, h2{
   margin-top: 4px;
}
main{
   width: 940px;
   max-width: 100%;
   margin: 40px auto 0;

}
.profile{
   display: flex;
   justify-content: space-around;
}
.team img{
   border-radius: 50%;

}
footer{
   border-top: 1px solid lightgrey;
   margin: 16px;
   color: lightgrey;
   display: flex;
   justify-content: space-between;
   margin-top:100px;
}
.profile h3{
   color: #f0454c;
   font-size: 12px;
}
.profile h2{
   font-size: 16px;
}
.profile p{
   color:  Lightgrey;
}
.pub:before{
   content: "";
   width: 55px;
   height:7px;
   background-color:#f0454c;
   display: block;
   margin-bottom: 14px;
   margin-top: -33px;}

.team:before{
   content: "";
   width: 55px;
   height:7px;
   background-color:#f0454c;
   display: block;
   margin-bottom: 20px;
   margin-top: 10px;

}
.Bas p{
   padding: 14px;
   margin-left: 25px;
   margin-right: 10px;

}
.Bas h2:before{
   content: "";
   width: 55px;
   height:7px;
   background-color:#f0454c;
   display: block;
   margin-bottom: 20px;


}
.Bas p:after{
   content: "More ->";
   color: #f0454c;
   display: block;
   margin-bottom: 20px;
   margin-top: 10px;

}

button{
   width: 151px;
   height: 58px;
   color: white;
   border: 1px;
   background-color: crimson;
   margin-left: 221px;
   border-radius: 8px;
   text-align: center;
   font-size: 15px;
}
.pub{
   padding:59px;
   margin-left:150px;
   color: #465065;
   font-size: 40px;

}
.para{
   padding:24px;
   margin-left: 194px;
   margin-bottom:25px;
   color: #465065;
   margin-top: -92px;
}

/*.ff{
   float:right;
   margin: auto;
   padding-bottom:
}*/
.Bas h2{
   margin-left: 35px;
}
span{
   display:block;
}
.s:after{
   content: "More ->";
   color: #f0454c;
   display: block;
   margin-bottom: 20px;
   margin-top: 10px;}

footer .icons{
   margin: 10px;
   padding: 10px;
   font-size: 18px,

}
footer .fa{
   color: lightgrey;
   margin-right: 10px;
}
nav .fa{
   color: crimson;
   font-size: 25px;
}
footer .fa:hover{
   color: black;
}
